/* Global/Primary CSS sheet */

/* Bootstrap */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap');

/* Mini-Reset */
body {
    margin: 0;
    padding: 0;
}

/* Global; applies to everything */
html * {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color: #eee; /* uhhh nobody will kill me for straying from the 216-color palette in 2020 right? */
    color: #444; /* Japan be like "yo what" */
}

/* a (Hyperlinks) */
body a:link, body a:visited { color: #444 }
body a:hover, body a:active { color: #999 }
p a, li a { text-decoration: underline }

/* Header text */
header {
    line-height: 50%;
    padding: 1px 0px;
}
header h1 {
    font-family: 'Acme', Arial, Helvetica, sans-serif;
}

/* Header & Nav bar */
nav {
    margin: auto;
    padding: 0px 0px 5px 0px;
	display: inline-block;
}
#headernav {
    background-color: #444;
}

/* Big h2 */
h2.big {
    font-size: 300%;
    margin-bottom: 0px;
    margin-top: 10px;
    text-decoration: underline;
}

/* Sections & Horizontal Line width */
section, hr {
    margin: auto;
    width: 50%;
}

/* Horizontal line color & spacing */
hr {
    color: #5B5E79;
    background-color: #5B5E79;
    border-top: 1px solid #5B5E79;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Content */
#content {
    /* If setting padding-top, USE PIXELS! Page transition script expects only pixels. */
}

/* Responsive img sizes - in the HTML, always use style="max-width" instead of width= */
img {
    width: 100%;
    height: auto;
}

/* Code text */
code {
    color: #444;
    font-family: monospace;
}

/* Footer */
footer {
    padding-top: 10px;
}

/* Button anchors */
a.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}
a.btn:link, a.btn:visited {
    color: #eee;
    background-color: #444;
    border-color: #444;
}
a.btn:hover, a.btn:active {
    background-color: #666;
    border-color: #666;
}
li a.btn {
    text-decoration-line: initial;
}

/* Class for centered text */
.textcenter {
    text-align: center;
}

/* Class for indented paragraphs */
.indent {
    text-indent: 1em;
}

/* Class for lists on Programming Projects page */
.projectlist:first-child {
    font-weight: bold;
}

/* Class for list items to not show bullet point */
.nobullet {
    list-style-type: none;
}

/* Stuff related to song containers */
.song {
    overflow: hidden;
}
.song h3 {
    margin-bottom: 2px;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}
.song h4 {
    margin-top: 2px;
    font-weight: normal;
    font-style: italic;
    font-size: large;
}
.song img {
    max-width: 200px;
    float: left;
    padding: 20px;
}
.songContainer a.btn {
    margin-bottom: 20px;
    min-width: 150px;
}

/* YT embed container */
.videoWrapper { /* Container goes inside wrapper */
    width: 100%;
    max-width: 50vw;
    text-align: center;
    margin: auto;
}
.videoContainer {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}
.videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

/* Home page logo */
.homelogo {
    text-align: center;
    margin: 20px auto;
}

/* Sheet music page showcase */
.musicshowcase img {
    max-width: 250px;
}
